.homepage {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    /* add your desired color here */
    min-height: 100vh;
    padding: 2rem;
}

.header {
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
}


.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about-me p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.skill-list {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.skill-list li {
    display: inline-block;
    margin-right: 1rem;
}

.experience-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.position {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.duration {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.contact {
    margin-top: 2rem;
}