.nav {
    background-color: #2E2E2E;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.my_name {
    color: #099DFB;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.link:hover{
    background-color: #099DFB;
    padding: 5px;
    color: black;
}
 