* {
    text-align: center;
}

/* navbar */
.nav {
    background-color: #2E2E2E;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
}

.my_name{
    color: #099DFB;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Home */

.home{
    font-size: 16px;
    background-color: #FFFFFF;
    color: black;
    padding: 16px 0 16px 0;
    /* display: flex;
    justify-content: space-between; */
}

.header{
    background-image: url('https://pbs.twimg.com/profile_images/1427905585945759755/WOq64RxB_400x400.jpg');
    height: 300px;
    background-size: cover;
    background-color: rgba(54, 54, 191, 0.8);
    color: white;
    text-align: center;
}

.victor{
    height: 300px;
    width: 300px;
    margin: 0 28px 0 28px;
    border-radius: 50%;
}

.home-msg{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    width: 70%;
}

.home-msg h1{
    font-size: 60px;
    font-weight: 300;
    line-height: 67px;
    text-align: center;
}

.home-msg h2{
    font-size: 30px;
    font-weight: 300;
    line-height: 33px;
    text-align: center;
}

.home hr{
    height: 1px;
    width: 100%;
    margin: 24px 0 24px 0;
    border-top: 2px solid #212529;
}