.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    margin: 0 10px;
}

.social-links li a {
    color: #333;
    font-size: 20px;
    transition: all 0.3s ease;
}

.social-links li a:hover {
    color: #00b5e2;
}

.footer {
    background-color: grey;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .text-muted {
    color: #999;
    font-size: 14px;
}